:root {
  --huff-brand: #4242c7;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 400;
  text-rendering: geometricPrecision;
  width: 100vw;
  background-image: url("./overlay.png");
  background-position: top center;
  background-size: cover;
}

header {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25vh 0;
  text-align: center;
  box-sizing: border-box;
}

header h1 {
  font-size: 12vh;
  line-height: .9;
  margin: 0;
}

header h2 {
  font-size: 3vh;
  font-weight: 400;
  margin-top: 1vh;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 880px;
  margin: 14vh auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.container p {
  line-height: 1.25;
  font-size: 2.5vh;
  margin: 0;
}

.logo {
  height: 20vh;
  margin-bottom: 2vh;
}

.title {
  font-size: 10vh;
  font-weight: bold;
  margin: 0 0 4vh 0;
  text-align: center;
}

.link {
  margin-top: 4vh;
  background-color: var(--huff-brand);
  color: #fff;
  text-decoration: none;
  padding: 1.5vh 2.75vw;
  border-radius: 8px;
  font-size: 2.25vh;
  font-weight: 600;
}

.link:hover {
  opacity: .9;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.schedule td {
  font-size: 3vh;
  padding: 2vh 1vh;
}

.schedule tr {
  border-bottom: 2px solid white;
}

.schedule tr:last-child {
  border-bottom: none;
}

.schedule td:first-child {
  text-align: left;
}

.schedule td:last-child {
  font-size: 2.5vh;
  text-align: right;
  font-weight: 500;
}

.nerds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
}

.nerd {
  display: flex;
  flex-direction: column;
}

.nerd img {
  border-radius: 999px;
  width: 100%;
  margin-bottom: 1vh;
}

.nerd p {
  margin: 0;
  text-align: center;
}

.nerd .nerd-name {
  font-size: 3vh;
}

.nerd .nerd-role {
  opacity: .6;
  font-size: 2.5vh;
}

.faq {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq li {
  margin-bottom: 2.5vh;
}

.faq li:last-child {
  border-bottom: none;
}

.faq li details p {
  font-weight: 400;
  margin-top: 2vh;
  font-size: 2.5vh;
  margin-left: 4vw;
}

summary {
  font-weight: 500;
  cursor: pointer;
  font-size: 3vh;
}

summary::marker {
  color: var(--huff-brand);
  float: right;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.socials h2 {
  margin-bottom: 0;
}

.social-link {
  text-decoration: none;
  fill: white;
  transition: fill .2s ease;
}

.social-link:hover {
  fill: var(--huff-brand);
}

.social-icon {
  height: 4vh;
}
